.button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary svg {
  fill: var(--white);
}

.second {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);
}

.second:hover {
  color: var(--white);
  background-color: var(--primary);
}

.second:hover svg {
  fill: var(--white);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.right {
  transform: rotate(0deg);
  transition: transform 0.2s;
}


