html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #F5F6F8;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --grey-dark: #6C7077;
  --grey: #A4A4A4;
  --white: white;
  --primary: #7351F5;
  --primary-hover: #5D41CB;
  --red-light: #FFA496;
  --red: #FC836D;
  --green: #007B48;
  --green-light: #C8F8E4;
}

h1, h2, h3, p {
  margin: 0;
}

section {
  margin-bottom: 35px;
}

