.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: start;
  grid-gap: 20px;
}

@media screen and (max-width: 640px) {
  .title {
    grid-template-columns: auto 1fr;
  }
}