.advantageTitle {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 40px;
    align-items: center;
    margin: 20px 0;
}

.descriptionWrapper {
    margin-left: 25px;
    padding-left: 70px;
    border-left: 1px solid #DFDFDF;
}