.menu {
    margin-top: 30px;
}

.menu a {
    text-decoration: none;
}

.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 20px;
    color: var(--grey-dark);
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    outline-offset: -1px;
}

.firstLevelActive,
.firstLevel:hover {
    transition: color .2s,
                fill .2s;
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary)
}


.secondBlock {
    margin: 15px 0 15px 12px;
    padding: 5px 0 5px 30px;
    border-left: 1px solid #DFDFDF;
}

.secondLevel {
    color: var(--grey-dark);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.secondLevel p {
    margin: 0;
}

.secondLevelBlock {
    overflow: hidden;
}

.thirdLevel {
    display: block;
    color: var(--grey-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 7px;
    outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}

.thirdLevel .hidden {
    height: 0;
}